# This workflow will build and push a Docker container to an Azure Web App when a commit is pushed to your default branch.
#
# This workflow assumes you have already created the target Azure App Service web app.

name: Build, push and Deploy Accomodation Api

env:
  AZURE_WEBAPP_NAME: Accomodation  # set this to the name of your Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      envName:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver: docker # defaults to "docker-containerized"

      - name: Log in to Azure ACR
        uses: docker/login-action@v1.10.0
        with:
          registry: reconnect.azurecr.io
          username: ${{ secrets.ACRID }}
          password: ${{ secrets.ACRSECRET }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v2
        with:
          push: true
          context: ./backend/
          tags: reconnect.azurecr.io/accomodation-api:${{github.run_number}}
          file: ./backend/ReConnect.Accomodation.Api/Dockerfile
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: ${{ github.event.inputs.envName }}
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.ACCOMODATION_PUBLISH_PROFILE }}
          images: 'reconnect.azurecr.io/accomodation-api:${{github.run_number}}'
